<a href="https://colab.research.google.com/github/NetizenCodes/-netizen-ai-notebook/blob/main/list%2C%20range%2C%20list%20operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lists
our first list

In [15]:
MyList=[1,5,4,7,9,34,67,9]
print (MyList)

[1, 5, 4, 7, 9, 34, 67, 9]

In [16]:
print("this is the first entry", MyList[0])#python indexes
print("this is the last entry",MyList[-1])
MyList[-2]

this is the first entry 1
this is the last entry 9

67

In [26]:
print(MyList[:3])#Prints the first three entries
print(MyList[2:5])
print(MyList[::3])#Prints every third
print(MyList[2::2])#print every index starting with imdex 2 and go in twos
print(MyList[-1:-7:-1])#reads the list in reverse

[1, 5, 4]
[4, 7, 9]
[1, 7, 67]
[4, 9, 67]
[9, 67, 34, 9, 7, 4]

# The range command

In [34]:
MyRange= range(0,11)
print(list(MyRange))
print(list(range(0,11,2)))
print(list(MyRange[0::3]))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]
[0, 3, 6, 9]

# List operations
Append, remove and insert.

In [51]:
x=[0,1,2,3,4,5]
x.append(6) # x adds an item to the end of a list
print(x)

[0, 1, 2, 3, 4, 5, 6]

In [52]:
x.remove(3)
print(x)

x.remove(5)
print(x)

[0, 1, 2, 4, 5, 6]
[0, 1, 2, 4, 6]

In [54]:
x.insert(3,4)#insert(index, object)
print(x)

[0, 1, 2, 4, 3, 4, 6]